
{% extends 'base.html.twig' %}
{% block title %}TOPISCINE - Accueil{% endblock %}

{% block class1 %}{% endblock %}
{% block class2 %}border_section{% endblock %}
{% block class3 %}{% endblock %}

{% block body %}
    <div id="barre-devis" class="container-fluid mb-4 pt-2">
        <div class="row">
            <div class="col-md-12 text-center p-0 ">
                <h2>Faire un devis</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="devis-couleur" class="container ">
        <div class="row pb-5">
            <div class="col-md-12 text-center">
                <h5>Choix de la couleur du fond de la piscine</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="blanc" class="color-devis btn border border-dark rounded-circle">
                </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="bleu" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="jaune" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="rouge" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
            </div>
        </div>

        <div class="row  pb-3">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="vert" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="rose" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button id="orange" class="color-devis btn border border-light rounded-circle">
                </button>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mb-3 mt-3">
                <a href="{{ path('couleur') }}">
                    <button id="submit" type="submit" class="btn btn-success">Suivant</button>
                </a>
            </div>
        </div>


    </div>

{% endblock %}
