{% extends 'base.html.twig' %}
{% block title %}TOPISCINE{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CDN : CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Bootstrap CDN : JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="../js/Save.js"></script>
{% endblock %}

{% block body %}
    <div id="devis" class="container pt-5">
        <div class="row ">

            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <figure>
                    <button class="first btn btn-outline-primary p-4">
                        <img src="img/rectangulaire.jpg">
                    </button>
                    <figcaption class="text-center">Rectangulaire</figcaption>
                </figure>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center ">
                <figure>
                    <button id="button" class="second btn btn-outline-primary p-4 ">
                        <img src="img/ronde.jpg">
                    </button>
                    <figcaption class="text-center">Ronde</figcaption>
                </figure>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button id="submit" class="btn btn-primary ">Submit</button>
            </div>
        </div>

    </div>

{% endblock %}
